@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 171 53% 100%;
    --foreground: 171 73% 4%;
    --muted: 291 7% 85%;
    --muted-foreground: 291 9% 40%;
    --popover: 0 0% 99%;
    --popover-foreground: 171 73% 3%;
    --card: 0 0% 99%;
    --card-foreground: 171 73% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 171 58% 71%;
    --primary-foreground: 171 58% 11%;
    --secondary: 291 58% 71%;
    --secondary-foreground: 291 58% 11%;
    --accent: 51 58% 71%;
    --accent-foreground: 51 58% 11%;
    --destructive: 7 94% 36%;
    --destructive-foreground: 7 94% 96%;
    --ring: 171 58% 71%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 171 60% 3%;
    --foreground: 171 26% 98%;
    --muted: 291 7% 15%;
    --muted-foreground: 291 9% 60%;
    --popover: 171 60% 4%;
    --popover-foreground: 171 26% 99%;
    --card: 171 60% 4%;
    --card-foreground: 171 26% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 171 58% 71%;
    --primary-foreground: 171 58% 11%;
    --secondary: 291 58% 71%;
    --secondary-foreground: 291 58% 11%;
    --accent: 51 58% 71%;
    --accent-foreground: 51 58% 11%;
    --destructive: 7 94% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 171 58% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}